body {
  margin: 0;
  background-color: gold;
}

#navbar_top {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

#navbar_bottom {
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

#navbar_top a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 30px;
}

#navbar_bottom a {
  float: left;
  display: block;
  color: gold;
  text-align: center;
  bottom: 0;
  padding: 1px;
  text-decoration: none;
  font-size: 20px;
}

#navbar_top a:hover {
  background-color: grey;
  color: yellow;
}

#navbar_top .search_box {
    float: right;
}

#navbar_top input[type=text] {
  padding: 6px;
  margin-top: 15px;
  font-size: 30px;
  border: 2px solid gold;
  border-radius: 10px;
  background-color: gold;
}

#navbar_top .search_box button {
  float: right;
  padding: 6px 10px;
  margin-top: 15px;
  margin-right: 16px;
  margin-left: 2px;
  background: gold;
  font-size: 17px;
  cursor: pointer;
  border: 2px solid gold;
  border-radius: 10px;
}

#navbar_top .search_box button:hover {
  background: yellow;
}

#login {
    background-color: ForestGreen;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

#login a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 30px;
}

a {
    text-decoration: None;
    color: white;
}

